<head>
<style type="text/css">


h1 {
        
      font-weight:bold;	
     }
	 
	 
h2 {
         
         color: darkblue;
		 font-weight:bold;	
		  
          }
p1 {
         
		 color:black;
		
}

h3{
	font-family:Arial;	
    font-weight:bold;	
}
ol{
	color:darkgreen;
	
	
}
h4{
	
	font-weight:bold;
}
td{
	color:purple;
	
}



h5{
	font-family:Times New Roman;
	font-style:Italic;
	
}

p2{
color:gold;	
	
	
}
</style>
</head>