<head>
<style type="text/css">


h1 {
       
          color: red;
		  margin-left:2cm

          }
h2 {
         
          color: red;
		  margin-left:4cm

          }
p1 {
         text-indent:2cm;
		 color:darkred;
		 margin-left:6cm
}
p2{
	     text-indent:2cm;
		 color:darkred;
		 margin-left:6cm
}
</style>
</head>